html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: var(--baseBackground);
}
:root {
  --color-verde: rgb(28, 141, 5);
  --color-smokewhite: rgba(240, 238, 238, 0.966);
  --color-gold: #d1b309;
  --color-white: #fff;
  --color-hoverpurple: #bd1b94;
  --color-gray: rgb(150, 144, 144);
  --color-black: rgb(49, 47, 47);
  --cardGray: #f0f3fa;
  --cardTitle: #6f717e;
  --baseBackground: white;
}
/* wrapper toda la pagina */

.wrapper {
  padding: 0;
  width: 100%;
}
.grid {
  display: grid;
  grid-row-gap: 25px;
}
/* header */

.header {
  display: flex;
  background-color: var(--color-verde);
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 4rem;
  opacity: 0.8;
  z-index: 10000;
  box-sizing: border-box;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  margin: 20px 0 0 100px;
}
#menu {
  display: none;
}
ul {
  list-style-type: none;
  overflow: hidden;
  margin-right: 30px;
  padding: 0;
}
li {
  float: right;
}
li a {
  display: block;
  padding: 8px;
  color: var(--color-white);
  padding: 14px 16px;
  text-decoration: none;
  border: 1pxs solid var(--color-verde);
  border-radius: 25px;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  position: relative;
  transition: 0.6s;
}
li a:hover {
  background-color: var(--color-hoverpurple);
}
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0px 20px;
}
/* BANNER  */

.banner {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 3px solid var(--color-gold);
}
.banner figure {
  margin: 0;
}
.banner figure img {
  width: 100%;
}
/* titulo de servicio */
.title {
  font-family: "Comfortaa", cursive;
  color: var(--color-verde);
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.premium {
  color: var(--color-gold);
  font-family: "Yesteryear", cursive;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

/* BODY DE SERVICIOS */
.body {
  display: flex;
  display: grid;
  justify-content: center;
}
.cart {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
/* Editar cart */
.parrafo {
  width: 549px;
  height: 293px;
  border-radius: 45px;
  background-color: var(--color-verde);
  padding: 2rem;
}
/* titulo del cart  */
.title-cart-1 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  color: var(--color-gold);
  font-weight: bold;
  margin-bottom: 2rem;
}
.parrafo {
  font-family: "Comfortaa", cursive;
  color: var(--color-white);
  justify-content: space-around;
  font-size: 1.2rem;
}
/* Editar tamaño imagen */
.imagencart {
  width: 25rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
  top: 20%;
}
.image-container {
  margin: 0;
}

/* .main {
  display: none;
} */

/* FORMULARIO */

.contenedor-formulario {
  width: 100%;
  max-width: 850px;
  margin: auto;
  box-sizing: border-box;
}
.formulario {
  width: 100%;
  padding: 1rem 1rem;
  justify-content: center;
  background-color: var(--cardGray);
}
#formulario input {
  padding: 10px;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: var(--color-gray);
}
.forma-uno {
  border: 2px var(--color-gray) solid;
  border-radius: 25px;
  display: grid;
  width: 100%;
  height: 50px;
  font-family: "Comfortaa", cursive;
}
.divisor {
  display: flex;
}
.forma {
  border: 2px var(--color-gray) solid;
  border-radius: 25px;
  width: 50%;
  height: 50px;
  font-family: "Comfortaa", cursive;
}
/* SECCION NOSOTROS */

.nosotros {
  margin-top: 20px;
  margin-bottom: 3em;
}
.title {
  font-family: "Yesteryear", cursive;
  font-size: 60px;
  margin: 30px 0 0 20px;
}
.card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--cardGray);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
  margin-right: 10px;
}
.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.experiencia::before {
  background: var(--color-verde);
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cardTitle);
  font-size: 0.9em;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}
.card-experiencia-years {
  font-size: 50px;
  font-weight: 700;
  font-family: "Nerko One", cursive;
}
.card-experiencia-content {
  display: block;
  text-transform: uppercase;
  color: var(--cardTitle);
  font-size: 0.75m;
  font-family: "Comfortaa", cursive;
}
/* Contacto */
.contact {
  background: var(--color-verde);
  padding: 0.5rem;
}
.title.contact {
  color: var(--color-gold);
}
#alcimar {
  font-family: "Comfortaa", cursive;
  color: var(--color-white);
}
.contact-alcimar {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}
.title-conctacto-first {
  font-family: "Comfortaa", cursive;
  color: var(--color-white);
  font-size: 2rem;
}
/* FOOTER */
.rrss-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 4rem;
}
.title.footer {
  font-size: 30px;
  color: var(--color-black);
}
#rrss img {
  margin: 0 1em;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: space-around;
}
.links a {
  text-decoration: none;
  color: var(--color-black);
  text-decoration: underline;
  font-size: 1em;
}

@media screen and (min-width: 851px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 850px) {
  .title.servicios {
    font-size: 2rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .imagencart {
    display: none;
  }
  .parrafo {
    width: 20rem;
    height: 150px;
    border-radius: 45px;
    background-color: var(--color-verde);
    padding: 2rem;
    font-size: 0.8rem;
  }
  .cart.one {
    justify-content: center;
  }
  .cart.two {
    justify-content: center;
  }

  ul {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .title.contact {
    font-size: 2rem;
  }
  .title-conctacto-first {
    display: none;
  }
  .contact-alcimar.dos {
    display: grid;
  }
  .links a {
    font-size: 0.5em;
  }
  .formulario {
    width: 90%;
  }
  .contenedor-formulario {
    margin: auto;
  }
}
@media screen and (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .parrafo {
    padding: 26px;
  }
}
