html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: var(--baseBackground);
}
:root {
  --color-verde: rgb(44, 114, 31);
  --color-smokewhite: rgba(240, 238, 238, 0.966);
  --color-gold: #d1b309;
  --color-white: #fff;
  --color--hover: #6b8f08;
  --color-gray: rgb(150, 144, 144);
  --color-black: rgb(49, 47, 47);
  --cardGray: #f0f3fa;
  --cardTitle: #6f717e;
  --baseBackground: rgb(245, 243, 243);
}
.wrapper {
  max-width: 1000px;
  flex: 1;
  margin: 0px auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.wrapper-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* header */

.header {
  background-color: var(--color-verde);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  align-items: center;
}
.header figure {
  margin: 0px 0px 0px 20px;
  width: 120px;
  height: 50px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  height: inherit;
}
li {
  height: inherit;
}

li a:hover {
  background-color: var(--color--hover);
}
.link {
  text-decoration: none;
  margin: 0px 20px;
  color: var(--color-white);
  padding: 14px 16px;
  border: 1pxs solid var(--color-verde);
  border-radius: 25px;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  transition: 0.6s;
}
.menu {
  display: flex;
}
/* ****************************************** */
/* BANNER  */

.banner {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 3px solid var(--color-gold);
}
.banner figure {
  margin: 0;
}
.banner figure img {
  width: 100%;
}
/* ****************************************** */
/* titulo de servicio */
.title {
  font-family: "Comfortaa", cursive;
  color: var(--color-verde);
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.premium {
  color: var(--color-gold);
  font-family: "Yesteryear", cursive;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

/* MAIN DE SERVICIOS */
.main {
  display: flex;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
}
.cart {
  display: flex;
  width: 100%;
}
.imagencart {
  width: 100%;
  height: 15rem;
  position: relative;
  top: 18%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.image-container {
  margin: 0;
  width: 49%;
}

/* Editar cart */
.parrafo.contenedor {
  margin: 1em 0;
  width: 49%;
  height: 17rem;
  border-radius: 45px;
  padding: 2rem;
}
.parrafo {
  font-family: "Comfortaa", cursive;
  color: var(--color-black);
  justify-content: space-around;
  font-size: 1.1rem;
}

/* titulo del cart  */
.title-cart-1 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  color: var(--color-gold);
  font-weight: bold;
  margin-bottom: 2rem;
}

/* .main {
  display: none;
} */
/* ****************************************** */
/* RUTAS */

.cardplace {
  position: relative;
  width: 100%;
  height: calc(75vh - 118px);
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in-out;
  background-image: url("../images/sliderlima.png");
  animation: cardplace 50s infinite linear;
}
.cardplace-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background-color: rgba(0, 22, 40, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardplace-content p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
}
.cardplace-content a {
  text-decoration: none;
  color: var(--color-white);
  padding: 9px 20px;
  border: 1px solid var(--color-white);
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.cardplace-content a:hover {
  background-color: #fff;
  color: #333;
}
@keyframes cardplace {
  0% {
    background-image: url("../images/sliderlima.png");
  }
  16% {
    background-image: url("../images/sliderlima.png");
  }
  17% {
    background-image: url("../images/sliderhuanuco.png");
  }
  33% {
    background-image: url("../images/sliderhuanuco.png");
  }
  34% {
    background-image: url("../images/slideraguaytia.png");
  }
  50% {
    background-image: url("../images/slideraguaytia.png");
  }
  66% {
    background-image: url("../images/sliderpucallpa.png");
  }
  67% {
    background-image: url("../images/sliderpucallpa.png");
  }
  68% {
    background-image: url("../images/slideriquitos.jpg");
  }
  81% {
    background-image: url("../images/slideriquitos.jpg");
  }
  82% {
    background-image: url("../images/slideryurimaguas.png");
  }
  100% {
    background-image: url("../images/slideryurimaguas.png");
  }
}

/* ****************************************** */
/* FORMULARIO */
.contenedor-formulario {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
}
.formulario {
  display: grid;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.input_field {
  width: inherit;
  height: 50px;
  border: 2px var(--color-gray) solid;
  border-radius: 25px;
  margin: 10px;
  font-family: "Comfortaa", cursive;
  margin: 5px 0;
  padding: 10px;
  box-shadow: 0px 7px 18px -4px rgba(0, 0, 0, 0.05);
}
.input_field.mensaje {
  height: 100px;
  outline: none;
}
#btn {
  display: flex;
  justify-content: center;
}
.btn {
  color: var(--color-white);
  text-align: center;
  border-radius: 25px;
  height: 50px;
  background-color: var(--color-verde);
  width: 200px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  border: 0;
  margin: 10px;
}
.btn:hover {
  background-color: var(--color--hover);
  cursor: pointer;
  border: 3px rgb(165, 64, 115) solid;
}

/* SECCION NOSOTROS */
.wrapper-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nosotros {
  margin-top: 20px;
  margin-bottom: 3em;
}
.title {
  font-family: "Yesteryear", cursive;
  font-size: 60px;
  margin: 30px 0 20px;
}
.card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--cardGray);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
  margin: 0 10px 0 10px;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.experiencia::before {
  background: var(--color-verde);
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cardTitle);
  font-size: 0.9em;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}
.card-experiencia-years {
  font-size: 50px;
  font-weight: 700;
  font-family: "Nerko One", cursive;
}
.card-experiencia-content {
  display: block;
  text-transform: uppercase;
  color: var(--cardTitle);
  font-size: 0.75m;
  font-family: "Comfortaa", cursive;
}
/* FOOTER */
footer {
  background: var(--color-verde);
  color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  padding: 40px;
  padding-bottom: 0;
}
.container-footer-all {
  width: 100%;
  max-width: 1200px;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 16px;
}
.colum1 figure {
  margin: 0;
  padding: 0;
}
.colum1 figure img {
  width: 200px;
}
.colum1 p {
  font-size: 12px;
  color: #c7c7c7;
  margin-top: 20px;
}
.colum2 {
  max-width: 400px;
}
.colum2 h1 {
  font-size: 16px;
}
.colum2 .row {
  margin-top: 20px;
  display: flex;
}
#icon {
  margin-right: 10px;
}
.row label {
  margin-top: 10px;
  font-size: 12px;
}
.colum3 {
  max-width: 400px;
}
.colum3 h1 {
  font-size: 16px;
}
.row2 {
  margin-top: 20px;
}
.row2 label {
  max-width: 140px;
  font-size: 12px;
}
.container-footer2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.copyright {
  font-size: 10px;
}
.information {
  text-decoration: none;
}
.information a {
  list-style: none;
  color: var(--color-white);
  font-size: 10px;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 932px) {
  .header {
    height: auto;
    display: block;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  ul {
    display: block;
    justify-content: center;
  }
  li {
    margin: 2px 2px;
    padding: 10px;
  }

  .link {
    justify-content: center;
  }
  .header figure {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
  }
  .container-footer {
    display: block;
    margin-left: 100px;
  }
}

@media screen and (max-width: 767px) {
  .cart {
    display: block;
  }
  .imagencart {
    display: none;
  }
  .parrafo.contenedor {
    width: auto;
  }
  .parrafo {
    font-size: 15px;
  }
  .title {
    font-size: 2em;
  }
  .title-cart-1 {
    font-size: 1.5em;
  }
  .contact-alcimar {
    display: none;
  }
  .contact-alcimar.dos {
    display: block;
    text-align: center;
    color: var(--color-white);
  }
  .links {
    font-size: 0.7em;
  }
  .container-footer {
    margin: 0;
  }
  .container-footer2 {
    margin: 20px 0;
    display: block;
  }
}
